/* Add your own CSS rules here */
#description {
  margin: 0 0 1em 0;
}


tei-teiHeader {
  display: none;
}

/*Creates Right to Left grid for text based on divisions in XML.
Also adds padding so that sections are not too close*/

/*Centering newspaper header information*/
tei-div[type=Header] {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 12px;
  text-align: center;
  margin: auto;
}

tei-div[type=Header] head{
  flex: 12;
}

/*Adjusting TitleInfo format*/
tei-div[type=TitleInfo] {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

tei-div[type=Title] {
  text-align: center;
}


tei-div[type=Publishing] {
  font-size: 12px;
}

/*Specific instructions for each article section*/
tei-div[type=Section] {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  font-size: 14px;
}

tei-div[type=Section] p {
  flex: 4;
}

/*Formatting for Article 3, which has no sub-articles*/
tei-div[type=Article][subtype=standalone] {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  font-size: 14px;

}

tei-div[type=Article][subtype=standalone] p {
flex: 4;
}


/*Instructions for writing mode for both head elements
and paragraph elements. Some paragraph elements are horizontal,
so this distinguishes them*/

/*Specifically for the one horizontal heading of the article.*/
tei-head {
  text-align: right;
  font-size: 17px;
}

/*For vertical heads of articles and sub-articles*/
tei-head[style=vr] {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  align-items: center;
  text-align: center;
}

/*Styling horizontal text*/
tei-p[style=hr] {
  writing-mode: horizontal-tb;
}

/*Styling vertical text*/
tei-p {
  writing-mode: vertical-rl;
  text-orientation: upright;
}

/*Text-orientation correction for special characters*/
tei-g {
  writing-mode: vertical-rl;
  text-orientation: sideways;
}



/*Instructions for specific TEI Elements*/

/*strikes through overwritten text*/
tei-del[rend=overwritten] {
  text-decoration: line-through;
}

/*Makes any archaic kanji red*/
tei-distinct[type=outdated] {
  color: #FA020B;
}

/*Makes any traditional orthography aqua*/
tei-distinct[type=spelling] {
  color: #0071bc;
}

/*Makes any unknown kanji compounds (suspected Hanja) dark magenta*/
tei-distinct[type=unk-compound] {
  color: #8B008B;
}

/*Makes person names orange*/
tei-persName {
  color: #CD6714;
}

/*Makes organization names pink*/
tei-orgName {
  color: #EC1D98;
}

/*Makes historically significant plan names and dates purple*/
tei-name[type=plan] {
  color: #753030;
}

/*Makes significant dates purple*/
tei-date {
  color: #4c2c92;
}

/*Makes places (addresses, place names, and country names) green*/
tei-address {
  color: #2e8540;
}

tei-placeName {
  color: #2e8540;
}

tei-country {
  color: #2e8540;
}
