/* Add your own CSS rules here */
#description {
  margin: 0 0 1em 0;
}


tei-teiHeader {
  display: none;
}

/*Creates Right to Left grid for text based on divisions in XML.
Also adds padding so that sections are not too close*/

/*Adjusting TitleInfo*/
tei-div[type=Header] {
  font-size:12px;
  text-align:center;
}

tei-div[type=Title] {
  text-align: center;
}

tei-div[type=TitleInfo] {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

tei-div[type=Publishing] {
  font-size: 12px;
}
/*Specific instructions for each article section*/
tei-div[type=Section] {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  font-size: 14px;
}

tei-div[type=Section] p {
  flex: 4;
}


tei-div[type=Article][subtype=standalone] {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  font-size: 14px;

}


tei-div[type=Article][subtype=standalone] p {
flex: 4;
}

/*Instructions for writing mode for both head elements
and paragraph elements. Some paragraph elements are horizontal,
so this distinguishes them*/

/*Specifically for the one horizontal heading of the article.*/
tei-head {
  text-align: right;
  font-size: 17px;
}


tei-head[style=vr] {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  align-items: center;
  text-align: center;
}


tei-p[style=hr] {
  writing-mode: horizontal-tb;
}


tei-p {
  writing-mode: vertical-rl;
  text-orientation: upright;
}

/*Text-orientation correction*/
tei-g {
  writing-mode: vertical-rl;
  text-orientation: sideways;
}



/*Specific instructions for TEI Elements*/

/*strikes through overwritten text*/
tei-del[rend=overwritten] {
  text-decoration: line-through;
}

/*Makes any archaic kanji red*/
tei-distinct[type=outdated] {
  color: red;
}

tei-distinct[type=spelling] {
  color: aqua;
}

tei-distinct[type=unk-compound] {
  color: DarkMagenta;
}

/*Makes person names orange*/
tei-persName {
  color: orange;
}

/*Makes organization names pink*/
tei-orgName {
  color: pink;
}

/*Makes historically significant plan names and dates purple*/
tei-name[type=plan] {
  color: chocolate;
}

tei-date {
  color: purple;
}

/*Makes places green*/
tei-address {
  color: green;
}

tei-placeName {
  color: green;
}

tei-country {
  color: green;
}
